<!DOCTYPE html>
<html>
    <head>
        <title>
            Register Student
        </title>
    </head>
    <body>
        <form id="register" action="/register" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="dorm" placeholder="Dorm" type="text"/>
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <script>

            let form = document.getElementById("register");
            form.onsubmit = function() {

                if (!form.name.value)
                {
                    alert("missing name");
                    return false;
                }
                else if (!form.dorm.value)
                {
                    alert("missing dorm");
                    return false;
                }

                return true;
            };

        </script>
   </body>
    </body>
</html>
