<!DOCTYPE html>
<html>
  <head>
    <title>Student List</title>
  </head>
  <body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Dorm</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.dorm }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>

